@import "bourbon";
@import "grid-settings";
@import "neat";

@mixin nav-bar-valign {
  display: inline-block;
  position: relative;
  bottom: -20px;
}
@mixin nav-bar-font {
  font-size: 13px;
  font-weight: bold;
  font-family: "Arial"
}
@mixin wrapper-container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0px!important;
  padding: 0px!important;
}

nav {
  background-color: rgba(0,0,0,0.7);
  height: 60px;
  position: absolute;
  width: 100%;
  .links{
    text-decoration: none;
    color: #ffffff;
    @include nav-bar-font;
    @include nav-bar-valign;
    margin-right: 20px;
  }
  img {
  height: 25px;
  }
}

.featured {
  height: 600px;
  background-image: url ("assets/ENVOY_LOGO.png");
}
.section2{
  background: #1D1D1D;
}

.nav-content {
  @include wrapper-container;
}
.twitter {
  height: 40px;
  width: 161px;
  background: #565656;
  @include nav-bar-valign;
  margin-right: -4px;
}

.twitter-logo {
  margin-left: 21px;
  height: 20px;
  margin-right: 10px;
  position: relative;
}
.redbox {
  width: 40px;
  height: 40px;
  background: #e34e33;
  @include nav-bar-valign;
  text-align: center;
}
.Tweet__Tweet_ {
  @include nav-bar-font;
  color: rgb(103, 217, 218);
  line-height: 3.692;
  display: inline-block;
  position: relative;
  bottom: 2px;
}
.navbar-right {
  display: inline-block;
  float: right;
}
.plus {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.container {
  @include wrapper-container;
  text-align: center;
}
.carousel {
  height: 674px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 21%;
    z-index: -1;
  }
}

.bottom-section {
  height: 867px;
  background: #1D1D1D;
}





