@import "bourbon";
@import "grid-settings";
@import "neat";

$mainRed: #d90e0a;
$envoyGrey: #9F9F9F;
$lineColor: #282828;
$envoyBlue: #67D9DA;
$mainFont: "Arial";

@mixin nav-bar-valign {
  display: inline-block;
  position: relative;
  bottom: -20px;
}
@mixin nav-bar-font {
  font-size: 13px;
  font-weight: bold;
  font-family: $mainFont;
}
@mixin wrapper-container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

@font-face {
  font-family: Trade-Gothic-Bold;
  src: url(TradeGothic-BoldCondTwenty.otf)
}
a {
  text-decoration: none;
  color: $mainRed;
}
body {
  margin: 0px!important;
  padding: 0px!important;
}

nav {
  background-color: rgba(0,0,0,0.7);
  height: 60px;
  position: absolute;
  width: 100%;
  .links{
    color: #ffffff;
    @include nav-bar-font;
    @include nav-bar-valign;
    margin-right: 20px;
  }
  img {
  height: 25px;
  }
}

.nav-content {
  @include wrapper-container;
}
.twitter {
  height: 40px;
  width: 161px;
  background: #565656;
  @include nav-bar-valign;
  margin-right: -4px;
}

.twitter-logo {
  margin-left: 21px;
  height: 20px;
  margin-right: 10px;
  position: relative;
}
.redbox {
  width: 40px;
  height: 40px;
  background: #e34e33;
  @include nav-bar-valign;
  text-align: center;
}
.Tweet__Tweet_ {
  @include nav-bar-font;
  color: $envoyBlue;
  line-height: 3.692;
  display: inline-block;
  position: relative;
  bottom: 2px;
}
.navbar-right {
  display: inline-block;
  float: right;
}
.plus {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.container {
  @include wrapper-container;
}
.carousel {
  height: 674px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 21%;
    z-index: -2;
  }
}
.title {
  padding-top: 200px;
  width: 330px;
  font-family: Trade-Gothic-Bold;
  font-size: 62px;
  color: $mainRed;
  line-height: 56px;
}
.subtitle{
  font-family: $mainFont;
  font-size: 16px;
  color: $envoyGrey;
  width: 360px;
  line-height: 1.25;
}
.blood1 {
  z-index: -1!important;
  left:19%!important;
  top: -332px!important;
  transform: rotate(49deg);
}
.blood2 {
  z-index: -1!important;
  left:19%!important;
  top: -332px!important;
  transform: rotate(49deg);
}
.blood3 {
  z-index: -1!important;
  left:19%!important;
  top: -332px!important;
  transform: rotate(49deg);
}
.bottom-section {
  height: 867px;
  background: #1D1D1D;
}
.paragraph {
  font-family: $mainFont;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  @include wrapper-container
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 5px solid $lineColor;
  span {
    color: $mainRed
  }
}
.featured-work {
  @include wrapper-container;
  padding-top: 71px;
  .section-header {
    font-family: $mainFont;
    color: $envoyGrey;
    font-size: 22px;
    padding-bottom: 11px;
    border-bottom: 2px solid $lineColor;
    a {
      font-size: 13px;
    }
  }
  .works {
    margin-top: 20px;
    text-align: center;
  }
  .work {
    display: inline-block;
    width: 33%;
  }
  .work-title {
    padding-top: 20px;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    span {
      color: $envoyBlue;
    }
  }
  .work-description {
    padding-top: 10px;
    color: $envoyGrey;
    text-align: left;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
  }
}




