@import "bourbon";
@import "grid-settings";
@import "neat";

$mainRed: #d90e0a;
$envoyGrey: #9F9F9F;
$lineColor: #282828;
$envoyBlue: #67D9DA;
$mainFont: "Arial";
$greyBackground: #1D1D1D;

@mixin wrapper-container($background) {
  @include outer-container(940px);

  background-color: $background;
}
@mixin nav-bar-valign {
  display: inline-block;
  position: relative;
  bottom: -20px;
}
@mixin nav-bar-font {
  font-size: 13px;
  font-weight: bold;
  font-family: $mainFont;
}

@font-face {
  font-family: Trade-Gothic-Bold;
  src: url(TradeGothic-BoldCondTwenty.otf)
}
a {
  text-decoration: none;
  color: $mainRed;
}
body {
  margin: 0px!important;
  padding: 0px!important;
}

nav {
  background-color: rgba(0,0,0,0.7);
  height: 60px;
  position: absolute;
  width: 100%;
  .links{
    color: #ffffff;
    @include nav-bar-font;
    @include nav-bar-valign;
    margin-right: 15px;
    &:hover {
        color: $envoyGrey;
      }
  }
  .activeLink {
    color: $mainRed;
  }
  img {
  height: 25px;
  }
}

.nav-content {
  @include wrapper-container(none);
}
.twitter {
  height: 40px;
  width: 161px;
  background: #565656;
  @include nav-bar-valign;
  margin-right: -4px;
}

.twitter-logo {
  margin-left: 21px;
  height: 20px;
  margin-right: 10px;
  position: relative;
}
.redbox {
  width: 40px;
  height: 40px;
  background: #e34e33;
  @include nav-bar-valign;
  text-align: center;
}
.Tweet__Tweet_ {
  @include nav-bar-font;
  color: $envoyBlue;
  line-height: 3.692;
  display: inline-block;
  position: relative;
  bottom: 2px;
}
.navbar-right {
  display: inline-block;
  float: right;
}
.plus {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

//slider
.container {
  @include outer-container(1600px);
  overflow: hidden;
  height: 674px;
}

// slider controlers
section.slider-controllers{
  position: absolute;
  left: 50%;
  top: 600px;
}
.dots{
  position: relative;
  left: -50%;
  display: inline-block;
}
.dot {
  visibility: hidden;
  position: absolute;
}
.active-dot {
  visibility: visible;
}

.arrows {
  position: relative;
  display: inline-block;
  right: -94%;
  top: 9px;
  a {
    display: inline-block;
  }
}
.base-arrow-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slide-dot{
  display: inline-block;
  padding: .5em;
}
#prev, #next {
  padding: 10px;
}
// slider view
.slider {
  position: absolute;
  z-index: -1;
  @include outer-container(1600px);
  width: 100%;
  height: 674px;
}
.slide {
  @include outer-container(1600px);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
@mixin slideImage {
  background-repeat: no-repeat;
  background-position:50% 50%;
}
  &.slide-1 {
    background-image: url("../assets/background-1.png");
    @include slideImage;
  }
  &.slide-2 {
    background-image: url("../assets/background-2.png");
    @include slideImage;
  }
  &.slide-3 {
    background-image: url("../assets/background-3.png");
    @include slideImage;
  }
  &.slide-4 {
    background-image: url("../assets/background-4.png");
    @include slideImage;
  }
  &.active-slide {
    visibility: visible;
    @include transform(translateX(0));
    z-index: 3;
  }
}
@mixin slideContent ($spanColumns, $shif, $paddingTop, $fontFamily, $fontSize, $color, $lineHeight) {
  @include span-columns($spanColumns);
  @include shift($shif);
  padding-top: $paddingTop;
  position: relative;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color;
  line-height: $lineHeight;
}
.text-content {
  @include outer-container(940px)
}
.row {
  @include row();
}
//Slide 1
.slide1-title {
  @include slideContent (4, 0, 21%, Trade-Gothic-Bold, 54px, $mainRed, 56px);
}
.slide1-subtitle{
  @include slideContent (5, 0, 10px, $mainFont, 16px, $envoyGrey, 1.25);
  padding-right: 10px;
}
//Slide 2
.slide2-title {
  @include slideContent (6, 6, 15%, Trade-Gothic-Bold, 62px, $mainRed, 56px);
  @include shift(6)
}
.slide2-subtitle {
  @include slideContent (6, 6, 10px, $mainFont, 18px, $envoyGrey, 1.25);
}
//Slide 3
.slide3-title {
  @include slideContent (6, 0, 15%, Trade-Gothic-Bold, 59px, #f68f1e, 56px);
}
.slide3-subtitle {
  @include slideContent (6, 0, 10px, $mainFont, 16px, #ffffff, 1.25);
  padding-right: 26px;
  a {
    color: #f68f1e;
  }
}
//Slide 4
.slide4-title {
  @include slideContent (6, 0, 15%, Trade-Gothic-Bold, 60px, #2162bc, 56px);
}
.slide4-subtitle {
  @include slideContent (5, 0, 10px, $mainFont, 15px, $envoyGrey, 1.4);
  a {
    color: #2162bc;
  }
}

// Bottom  Section
.bottom-section {
  background: $greyBackground;
}
.paragraph {
  @include wrapper-container($greyBackground);
  font-family: $mainFont;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 5px solid $lineColor;
  span {
    color: $mainRed
  }
}
@mixin section {
  @include wrapper-container($greyBackground);
  padding-top: 71px;
  .section-header {
    font-family: $mainFont;
    color: $envoyGrey;
    font-size: 22px;
    padding-bottom: 11px;
    border-bottom: 2px solid $lineColor;
    a {
      font-size: 13px;
    }
  }
}

@mixin item($size) {
  padding-top: 20px;
  font-family: $mainFont;
  font-weight: bold;
  font-size: $size;
  color: #ffffff;
  text-align: left;
  span {
    color: $envoyBlue;
  }
}
@mixin description {
  padding-top: 10px;
  color: $envoyGrey;
  text-align: left;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.items {
  margin-top: 20px;
  text-align: center;
}
.featured-work {
  @include section;
  .work {
    @include span-columns(4);
  }
  .work-title {
    @include item(18px);
  }
  .work-description {
    @include description;
  }
}
.wire-section {
  @include section;
  .wire {
    @include span-columns(4);
  }
  .wire-title {
    @include item(34px);
  }
  .wire-date {
    @include description;
  }
}

